.git
.gitignore
README.md
.dockerignore
Dockerfile*
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
.env
.env.local
.env.testing
.env.development.local
.env.production.local
.phpunit.result.cache
.phpstorm.meta.php
.nyc_output
.coverage
coverage
.php_cs.cache
.php_cs.dist.cache
.DS_Store
Thumbs.db
vendor/
.vscode/
.idea/
*.swp
*.bak
*.tmp
*~